.cart {
    width: 30%;
    height: 72px;
    color: #6ac4e2;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid #6ac4e2;
    border-radius: 7px;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    .cart {
        margin: 20px auto;
        width: 69%;
    }
}